// Base Styles

.button {
  font-weight: bold;
  &:after {
    content: '+';
    padding-left: .5rem;
  }
}

p.lead {
  @include breakpoint(medium) {
    font-size: rem-calc(25);
  }
}


// Content Styles

.content {
  display: none;
  margin: 2rem auto 4.25rem auto;
  @include breakpoint(medium) {
    margin: 5rem auto;
  }
}
.content--left {
  margin-bottom: 2rem;
  @include breakpoint(medium) {
    margin: 4rem auto;
  }
}
.logo--large img {
  padding: 0 2rem;
}
.logo--small img {
  height: 1.5rem;
  @include breakpoint(medium) {
    height: 3rem;
  }
}
.site-name {
  margin: 0 1rem;
  color: $light-gray;
  text-transform: uppercase;
  font-weight: bold;
  font-size: rem-calc(15);
  @include breakpoint(medium) {
    font-size: rem-calc(20);
  }
}
footer {
  @include v-align();
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background: $dark-gray;
}

// no-js styles
html.no-js {
  .content {
    display: block;
  }
}